<div class='exam-item'>
	<div class='row'>
		{% if item.type == 'question' %}
			<div class='col-md-8'>
				{{ item.question.name }}
			</div>
			<div class='col-md-2 small'>
				
			Space after: {{ item.space_after }}
			</div>
		{% elif item.type == 'pool' %}
			<div class='col-md-10'>
				Pool: {{ item.name }}
				<ul>
					{% for question in item.questions.all %}
						<li> {{ question.name }} </li>
					{% endfor %}
				</ul>
				{{ item.choose }} question{{ item.choose|pluralize }} 
				will be used from this pool.
			</div>
		{% endif %}
		<div class='col-md-2 small'>
			<a href="#" class='edit-item' data-item-id="{{ item.id }}">[Edit]</a>
			<a href="#" class='remove-item' data-item-id="{{ item.id }}">[Remove]</a>
		</div>
	</div>
</div>
