<div class="modal fade" id="prefs-modal" tabindex="-1" role="dialog" data-show="true" id="prefs-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		</div>
	</div>
</div>

<script type="text/javascript">
var frm = $('#prefs-form');
function submitChanges (event) {
	$.ajax({
		type: frm.attr('method'),
		url: frm.attr('action'),
		data: frm.serialize(),
		success: function (data) {
			if (data == 'success') {
				$('#prefs-modal').modal('hide')
			} else {
				// reload form
				$("#prefs-modal .modal-content").html(data);
			}
		},
		error: function(data) {
			thing = data;
			$("#prefs-modal .modal-body").html("Something went wrong!<br/>"+data['responseText']);
		}
	});
	return false;
}
</script>

<a data-toggle="modal" data-target="#prefs-modal" href="/exams/preferences/">Edit formatting preferences </a>


