{% extends "base.html" %}

{% block external %}

{% load static %}


{% include "scripts_bootstrap.html" %}
<script src="{% static 'schema_handler.js' %}"></script>
<script>
$('body').on('hidden.bs.modal', '.modal', function () {
	$(this).removeData('bs.modal');
});
</script>

{% endblock external %}


{% block content %}


<div id="boop">
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>


<div class="row">
	<div class="col-md-5 .col-md-offset-1">
		{% include "organization/topic_accordion.html" with question_display="simple_preview" topics=schema.topic_set.all schema_detail=True%}
	</div>
</div>









{% endblock content %}

