{% extends "base.html" %}


{% block title %}Schema Details{% endblock title %}

{% block external %}

{% load static %}


	{% include "scripts_bootstrap.html" %}
	{% include "scripts_mathjax.html" %}
	<script src="{% static 'schema_handler.js' %}"></script>
	<script src="{% static 'formset_handler.js' %}"></script> 



	<script>
	$('body').on('hidden.bs.modal', '.modal', function () {
		$(this).removeData('bs.modal');
	});
	</script>

	<style>
	div .tabletop-empty {
		height:90vh;
		background-color:#A5A7B8;
	}
	div #schema-accordions {
		height:90vh;
		overflow-y:auto;
	}
	</style>



{% endblock external %}



{% block content %}



<div id="modalContainer">
	<div class="modal" id="confirm-delete">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Confirm Deletion</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete <span id="delete-item-type"></span>
					"<span id='delete-item-name'></span>"? </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="confirm-btn" type="button" class="btn btn-primary">Delete</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>


{# <div class="row"> #}
{# 	<button class="btn btn-primary" data-toggle="modal" data-target="#confirm-delete">Small modal</button> #}
{# </div> #}

<div class="row">
	<div class="col-md-4 hidden" id="error-spot">
	</div>
	<div class="col-md-4" id="schema-accordions" >
		{% include "organization/accordions/schema_base.html" %}
	</div>								
	<div class="col-md-8 tabletop-empty tabletop" id="tabletop">
		
	</div>
</div>









{% endblock content %}

