{% extends "base.html" %}

{% block head %}
<style>
div .tabletop-empty {
	height:100vh;
	background-color:#A5A7B8;
}
	
</style>
{% endblock head %}



{% block external %}

{% load static %}


	{% include "scripts_bootstrap.html" %}
	<script src="{% static 'schema_handler.js' %}"></script>

	<script>
	$('body').on('hidden.bs.modal', '.modal', function () {
		$(this).removeData('bs.modal');
	});
	</script>



{% endblock external %}


{% block content %}

<a>blah</a>


<div id="boop">
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>





<div class="row">
	<div class="col-md-5" id="schema-accordions" >
		{% include "organization/accordions/schema_base.html" with question_display="none" schema_detail=True%}
	</div>                
	<div class="col-md-7 tabletop-empty tabletop" id="tabletop">
		
	</div>
</div>









{% endblock content %}

