# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Machines
.vagrant/


# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Databases and Migrations
migrations/
*.sqlite3

# pycharm
.idea/

# TextMate
.tm_properties

# local settings
settings_local.py
*junk/
