appnope==0.1.0
colorize==1.0.4
coverage==4.1
decorator==4.0.10
Django==1.9.8
django-bootstrap3==7.0.1
django-debug-toolbar==1.5
django-discover-runner==1.0
django-model-utils==2.5
django-picklefield==0.3.2
django-vanilla-views==1.0.4
ipython==5.0.0
ipython-genutils==0.1.0
mpmath==0.19
pexpect==4.2.0
pickleshare==0.7.3
Pillow==3.3.0
prompt-toolkit==1.0.3
ptyprocess==0.5.1
Pygments==2.1.3
rebar==0.1
selenium==2.53.6
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.0
sympy==1.0
traitlets==4.2.2
wcwidth==0.1.7
