{% if form.errors %}
    {{ form.errors }}
{% endif %}
<form method="post" action="." class="question-form">
    {% csrf_token %}
    <h1>{{ action }} Foo</h1>
    <p><label for="id_name">Foo Name:</label>
        {{ form.name }}</p>

    <p>
        <div id="bar-div" class="formset">
            {% if bar_formset.errors %}
                {{ bar_formset.errors }}
            {% endif %}

    <p>     bar_formset.errors:       {{ bar_formset.errors }} </p>
        <p>  form_errors:  {{ form_errors }} </p>
        
            {% include "formset_table.html" with formset=bar_formset %}
        </div>
    </p>

<!-- Clearing Floating Elements-->
<div class="clear"></div>


    <input type="submit" name="submit" value="Save" id="submit">
</form>
