{% extends "base.html" %}
{% block title %}Topic List{% endblock title %}

{% block external %}

{% include "mathjax_scripts.html" %}


{# <link rel="stylesheet" href="/static/accordian.css" type="text/css" /> #}

<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.nestedAccordion.js"></script>
<!--[if lte IE 6]>
<style type='text/css'>
  * html #main, * html #container, #side a, a.trigger, .accordion .inner {height:1%}
  #lenta{height:52px}
</style>
<script type="text/javascript">
   try { document.execCommand( "BackgroundImageCache", false, true); } catch(e) {};
</script>
<![endif]-->
<!--[if lte IE 7]>
<style type="text/css">
  .accordion .inner {position:static; overflow:visible}
</style>
<![endif]-->
<!--[if !lt IE 6]><!-->
<script type="text/javascript">
<!--//--><![CDATA[//><!--
$("html").addClass("js");
$.fn.accordion.defaults.container = false; 
$(function() {
  $("#topic-accordian").accordion({
      el: ".h", 
      head: "h3, h4, h5, h6", 
      next: "div", 
  });
  $("html").removeClass("js");
});
//--><!]]>
</script>
<!--<![endif]-->

{% endblock external %}


{% block content %}

<div id="container" class="container">
<div id="main">

<div id="topic-list">
    <ul class="list-group accordion" id="topic-accordian">
        {% for topic in topics %}
            <li class="list-group-item list-group-item">
                <h3> {{ topic.name }} </h3>
                <div class="inner">
                    <ul class="list-group">
                        {% for subtopic in topic.subtopic_set.all %}
                            <li class="list-group-item list-group-item">
                                <h4> {{ subtopic.name }} </h4>
                                <div class="inner">
                                <ul class="list-group">
                                    {% for objective in subtopic.objectives.all %}
                                        <li class="list-group-item list-group-item">
                                            <h5> {{ objective.short }} </h5>
                                            <div class="inner">
                                                {# <p> {{ objective.description }} </p> #}
                                                <ul class="list-group">
                                                {% for question in objective.questions.all %}
                                                    <li class="list-group-item list-group-item"> 
                                                        <h6> {{ question.name }} </h6> 
                                                        <div class="inner">
                                                            {{ question.preview }} <br/>
                                                            
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

</div>




<br />
</div>
</div>






{% endblock content %}

