{% extends "base.html" %}
{% block title %}Question List{% endblock %}
{% block content %}

<div class="container">
<div class="jumbotron">

<h1>Question List</h1>

{% if user.username %}
    {% if question_list %}
        <ul class="none">
        {% for question in question_list %}
        <li> {{ question.name }}
            <ul class="question-list-links">
                <li>[<a href="{% url 'detail' question.id %}">Details</a>]</li>
                <li>[<a href="{% url EditQuestion question.id %}">Edit</a>]</li>
                
                {% if question.is_validated %}
                
                    <li>[<a href="{% url 'preview' question.id %}">Preview</a>]</li>
                {% endif %}
            </ul></li>
        {% endfor %}
        </ul>
        
        <a href="{% url 'CreateQuestion' %}">Create Question</a>
        
    {% else %}
        <p>No questions are available.</p>
    {% endif %}
{% else %}
    <p>You must <a href="/login/">login</a> 
        before you can do anything useful.</p>
        
{% endif %}

</div></div>

{% endblock %}