{% load my_tags %}

<div id="detail-group" class="question-details">

    <h1>Question Details</h1>

    <p class="data-label">  
        Question Name:
    </p>
    <div class="data">   
        {{ question.name }}
    </div>

    <p>
        <div id="randvar-div" class="dataset">
            {% include "dataset_table.html" with dataset=randvar_dataset %}
        </div>
        <div id="condition-div" class="dataset">
            {% include "dataset_table.html" with dataset=condition_dataset %}
        </div>
    </p>

    <!-- Clearing Floating Elements-->
    <div class="clear"></div>

    <p class="data-label">   
        Symbolic Variables:
    </p>
    <div class="data">   
        {{ question.symbol_vars }}
    </div>
    <p class="data-label">   
        Question Code:
    </p>
    <div class="data">   
        {{ question.code|code_style }}
    </div>
    <p class="data-label">   
        Question Text:
    </p>
    <div class="data">   
        {{ question.question_text|code_style }}
    </div>

	
	<div id="well-prompt-short" class=" row">
		<div class="col-md-6">
			<p class="data-label">Prompt:</p>
		    <div class="data">   
		        {{ question.prompt }}
		    </div>
		</div>
		<div class="col-md-6">
			<p class="data-label">Short Version:</p>
		    <div class="data">   
		        {{ question.short_version }}
		    </div>
		</div>
	</div>
	
	
	

    <p>
        {% include "dataset_table.html" with dataset=answerchoices_dataset %}
    </p>

    <a href=" {% url 'edit'  question.id  %}">Edit Question</a>
</div>
