<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-parent="#accordion-section-{{ section.id }}" data-target="#panel-objective-{{ objective.id }}">
		<h4 id="label-objective-{{ objective.id }}" class="panel-title panel-toggle inline-block">
			{{ objective.name }}
			{% if edit_book %}
				{% if objective.section_set.count == 1 %}
					<span class="small inline-block">
						<a class="item-edit" id="edit-objective-{{ objective.id }}" href="#">
							[edit]
						</a>
						<a class="item-delete" 
							id="delete-objective-{{ objective.id }}" 
							href="#" data-item-type="objective" 
							data-item-name="{{ objective.name }}" 
							data-confirmed-url="{% url 'delete_item' item_type='objective' item_id=objective.id %}">
								[delete]
						</a>
			
					</span>
				{% endif %}
			{% endif %}
		</h4>
		
	</div>
	{% if edit_questions or question_display == "addable" %}
		<div id="panel-objective-{{ objective.id }}" class="panel-body collapse">
			<div class="panel-inner">

				{% if objective.questions.all %}Questions:{% endif %}
				<!-- question accordion -->

				<div class="panel-group" id="accordion-objective-{{ objective.id }}">
					{% for question in objective.questions.all %}
						{% include "organization/accordions/question_panel.html" %}
					{% endfor %}   {# question loop #}
				</div>
				{% if add_question_links %}
					<a class="add-question" href="{% url 'CreateQuestion' obj_id=objective.id  %}">
						Create new question for this objective.
					</a>
				{% endif %}
			</div>
		</div>
	{% endif %} {# if edit_questions #}
</div>
