{# When including this, you must pass in a variable: question_display #}
{# possible values: "simple_preview", "addable"     #}
{# If this is included from the edit book page, there will be  #}
{# a variable edit_book=True #}


<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-parent="#accordion-objective-{{ section.id }}-{{ objective.id }}" data-target="#panel-question-{{ section.id }}-{{ objective.id }}-{{ question.id }}">
		<h4 id="question-name-{{ question.id }}" class="panel-title panel-toggle inline-block">
			{{ question.name }}
			{% if edit_questions %}
				<span class="small inline-block">
					<a class='edit-question' href="{% url 'EditQuestion' question.id %}" >
						[edit]
					</a>
					{% if objective %}
					<a class='duplicate-question' 
					href="{% url 'DuplicateQuestion' orig_id=question.id obj_id=objective.id %}" >
						[duplicate]
					</a>
					{% endif %}
					<a class="item-delete" 
						id="delete-question-{{ question.id }}" 
						href="#" data-item-type="question" 
						data-item-name="{{ question.name }}" 
						data-confirmed-url="{% url 'delete_item' item_type='question' item_id=question.id %}">
							[delete]
					</a>
				</span>
			{% endif %}
		</h4>
		
	</div>
	<div id="panel-question-{{ section.id }}-{{ objective.id }}-{{ question.id }}" class="panel-body collapse">
		<div class="panel-inner">

			{% if question_display %}
				{% include "organization/question_"|add:question_display %}
			{% endif %}

		</div>
	</div>
</div>
