{# When including this, you must pass in a variable: question_display #}
{# possible values: "simple_preview", "addable"     #}
{# If this is included from the edit schema page, there will be  #}
{# a variable edit_schema=True #}


<div class="panel-group" id="accordion-main">
	{% if edit_schema %}Topics:{% endif %}
	{% for topic in schema.topic_set.all %}
		{% include "organization/accordions/topic_panel.html" %}
	{% endfor %} {# topic loop #}
</div>
{% if edit_schema %}
	<a id="id-add-topic-to-schema-{{ schema.id }}" 
		data-formURL="{% url 'add_topic' schema_id=schema.id %}" 
		href="#" class="add-item">
		Add topic to schema "{{ schema.name }}"
	</a>
{% endif %}
