{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block head %}Main Page{% endblock %}
{% block content %}

{% if user.username %}
<div class="row">
	{# <h3>Courses:</h3> #}
	{# <ul> #}
	{# 	{% for course in active_courses %} #}
	{# 		<li><a href="{% url 'CourseDetails' course.id %}">{{ course.name }}</a></li> #}
	{# 	{% empty %} #}
	{# 		<li>There are no active courses for this user</li> #}
	{# 	{% endfor %} #}
	{# 	</ul> #}
	{#  #}
	{# 	<p><a href="{% url 'CreateCourse' %}">Create New Course</a></p> #}


	<h3>Things that you can do:</h3>
	<ul>
		<li><a href="{% url 'CreateSchema' %}">Create schema</a></li>
		<li><a href="{% url 'SchemaList' %}">View all schema</a></li>
		<li><a href="{% url 'CreateCourse' %}">Create course</a></li>
		<li><a href="{% url 'course_list' %}">View your courses</a></li>
		<li>
			<a href="{% url 'CreateQuestion' %}">Create question</a>
			(although it's a better idea to view a schema, and create questions linked to objectives)
		</li> 
		<li><a href="{% url 'QuestionList' %}">List all questions</a></li>
		<li><a href="{% url 'ExamRecipeList' %}">List your exam recipes</a> (There's work to do on the exam-course connection)</li>
		<li><a href="{% url 'CreateExamRecipe' %}">Create a new exam recipe</a></li>
		<li><a href="{% url 'DocList' %}">View all practice documents</a> (Need to change this so it's just YOURS you see)</li>
		<li><a href="{% url 'DocRecipeList' %}">View all practice document recipes</a> (Ditto)</li>
		<li><a href="{% url 'CreateDocRecipe' %}">Create new practice document recipe</a></li>
	</ul>


	<p>
		You can file bugs and feature requests at the 
			<a href="https://bitbucket.org/kmacinnis/questionhoard/issues">
				issue tracker
			</a> (requires a bitbucket account).
	</p>
</div>
{% else %}
    <p>You must <a href="/login/">login</a> 
        before you can do anything interesting.</p>
        
{% endif %}

{% endblock %}